.main-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0px;
    width: 100vw;
}

.page-container {
    background-color: whitesmoke;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 40px;
    width: 100%;
}

.dashboard-container,
.manage-users-container,
.manage-expenses-container {
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
}

.bottom-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
    width: 100%;
}

/* Left Nav CSS */

.left-nav-container {
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    z-index: 2;
}

.logo {
    border-bottom: solid 1px lightgray;
    margin-bottom: 20px;
    padding: 10px 0px;
    text-align: center;
    width: 100%;
}

.pages-list {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
    width: 70%;
}

.pages-list>span:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Dashboard CSS */

.dashboard-container {
    /* display: flex;
    flex-direction: column; */
    height: fit-content;
    width: 600px;
}

.dashboard-container td:first-child {
    width: 400px;
}

/* Manage Users CSS */

.manage-users-container {
    /* height: 100%; */
    width: 100%;
}

.edit-delete {
    width: 10%;
}

/* Manage Expenses CSS */

.manage-expenses-container {
    /* height: 100%; */
    width: 100%;
}

/* Edit Expense Modal CSS */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    align-items: center;
    display: flex;
    flex-direction: column;
}

.edit-expense-fields-container {
    display: flex;
    flex-direction: column;
    min-width: 500px;
}
